### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd



# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#find the total number of unique players 
unique_players = len(purchase_data["SN"].value_counts())

#create df to display this data
pd.DataFrame({"Total Players":[unique_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#get number of unique items
num_unique_items = len(purchase_data["Item Name"].value_counts())
num_unique_items
#get average price
average_price = (purchase_data["Price"]).mean()
average_price
#get number of purchases
num_purchases = (purchase_data["Purchase ID"]).count()
num_purchases
#get total revenue
total_revenue = (purchase_data["Price"]).sum()
total_revenue

#create summary df to hold results
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[num_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [num_purchases], 
                           "Total Revenue": [total_revenue]})
purchase_analysis_df

#clean up the data, format the price and revenue
purchase_analysis_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#slice Gender column into different categories 
#count male players
#count female players 
#count non-disclosed
#there are too many players with count, need to delete duplicates
#create a df with sn and gender to identify and drop dups
diff_genders = purchase_data[["SN", "Gender"]]
diff_genders
diff_genders = diff_genders.drop_duplicates()
unique_genders = diff_genders["Gender"].value_counts()
#got it! 
unique_genders
percents = (unique_genders/unique_players)*100
percents
#create df w count and percent 
gender_count_percent = pd.DataFrame({"Total Count": unique_genders,
                                    "Percentage of Players": percents})

gender_count_percent
#format count and percent 
gender_count_percent.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#purchase count by gender

#average purchase price by gender

#total purchase value by gender
#average total purchase per person

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame