### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd



# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#find the total number of unique players 
unique_players = len(purchase_data["SN"].value_counts())

#create df to display this data
pd.DataFrame({"Total Players":[unique_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#get number of unique items
num_unique_items = len(purchase_data["Item Name"].value_counts())
num_unique_items
#get average price
average_price = (purchase_data["Price"]).mean()
average_price
#get number of purchases
num_purchases = (purchase_data["Purchase ID"]).count()
num_purchases
#get total revenue
total_revenue = (purchase_data["Price"]).sum()
total_revenue

#create summary df to hold results
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[num_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [num_purchases], 
                           "Total Revenue": [total_revenue]})
purchase_analysis_df

#clean up the data, format the price and revenue
purchase_analysis_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#slice Gender column into different categories 
#count male players
#count female players 
#count non-disclosed
#there are too many players with count, need to delete duplicates
#create a df with sn and gender to identify and drop dups
diff_genders = purchase_data[["SN", "Gender"]]
diff_genders
diff_genders = diff_genders.drop_duplicates()
unique_genders = diff_genders["Gender"].value_counts()
#got it! 
unique_genders
percents = (unique_genders/unique_players)*100
percents
#create df w count and percent 
gender_count_percent = pd.DataFrame({"Total Count": unique_genders,
                                    "Percentage of Players": percents})

gender_count_percent
#format count and percent 
gender_count_percent.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#purchase count by gender
#need to groupby from purchase data first 
gender_analysis = purchase_data.groupby("Gender")
purchase_count = gender_analysis["Purchase ID"].count()
purchase_count
#average purchase price by gender
av_purchase_price = gender_analysis["Price"].mean()
av_purchase_price
#total purchase value by gender
total_purchase_value = gender_analysis["Price"].sum()
total_purchase_value
#average total purchase per person
#get this by dividing total purchase value by unique gender counts
total_purchase_per_person = total_purchase_value/unique_genders
total_purchase_per_person

#create and style df 

#remove index so all data shows up 
gender_purchase_analysis.index.name = None


gender_purchase_analysis = pd.DataFrame({"Purchase Count": purchase_count, 
                                        "Average Purchase Price": av_purchase_price, 
                                        "Av Total Purchase per Person": total_purchase_per_person})
gender_purchase_analysis


gender_purchase_analysis.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Av Total Purchase per Person":"{:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [31]:
#create bins for ages
#create categories for bins
age_bins = [0,9.90,14.99,19.99,24.99,29.99,34.99,39.99,999]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#categorize age data into the bins - pd.cut will help here
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels = bin_names)

#calculate numbers of players in each bin and %
#first create new df of age group
group_ages = purchase_data.groupby("Age Group")
#count players in each category
#found this nunique gem here - https://pandas.pydata.org/pandas-docs/
#stable/reference/api/pandas.DataFrame.nunique.html
ages_count = group_ages["SN"].nunique()
ages_count
#get percent of ages
ages_percent = (ages_count/unique_players)*100
ages_percent
#create df/ display  
age_analysis = pd.DataFrame({"Total Count": ages_count, 
                            "Percentage of Players": ages_percent})
age_analysis
#style it up
age_analysis.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame